body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Hero section */

#hero {
    background-color: #6CA9E6;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.hero-text {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    max-width: 600px;
}

h1 {
    font-weight: 600;
    font-size: 58pt;
    margin: 0;
}

.subhead {
    font-size: 32pt;
    margin: 0;
}

.body {
    font-size: 12pt;
}

.hero-screenshots {
    flex: 4;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.hero-screenshots > * {
    flex: 1 1;
}

.screenshot-holder {
    position: relative;
}

.screenshot {
    border: 10px solid black;
    border-radius: 8px;
}

#top-hat {
    position: absolute;
    width: 40%;
    left: 15%;
    z-index: 1;
}

#kobo {
    position: absolute;
    width: 40%;
    left: 45%;
    top: 10%;
    z-index: 0;
}

#tindog {
    width: 90%;
}

@media (max-width: 1080px) {
    #web-holder {
        display: none;
    }
}

@media (max-width: 680px) {
    h1 {
        font-size: 40pt;
    }
    .subhead {
        font-size: 20pt;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 25pt;
    }
    .subhead {
        font-size: 14pt;
    }
    #mobile-holder {
        flex: unset;
        width: 50%;
    }
    #top-hat {
        left: unset;
        width: 88%;
    }
    #kobo {
        display: none;
    }
}

@media (max-height: 600px) {
    .hero-text {
        height: 100vh;
    }
    .hero-screenshots {
        display: none;
    }
}

/* Resume section */

.resume-row {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 50px;
}

.resume-row > * {
    flex: 1;
}